@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 35 22% 20%;
    --card: 60 56% 93%;
    --card-foreground: 35 22% 20%;
    --popover: 60 56% 91%;
    --popover-foreground: 35 22% 20%;
    --primary: 43 91% 38%;
    --primary-foreground: 43 91% 98%;
    --secondary: 45 25% 85%;
    --secondary-foreground: 35 22% 20%;
    --muted: 45 25% 88%;
    --muted-foreground: 35 10% 45%;
    --accent: 45 100% 50%;
    --accent-foreground: 35 22% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 43 20% 75%;
    --input: 43 20% 80%;
    --ring: 43 91% 38%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 35 22% 15%;
    --foreground: 60 56% 91%;
    --card: 35 22% 18%;
    --card-foreground: 60 56% 91%;
    --popover: 35 22% 15%;
    --popover-foreground: 60 56% 91%;
    --primary: 43 91% 38%;
    --primary-foreground: 43 91% 98%;
    --secondary: 45 25% 25%;
    --secondary-foreground: 60 56% 91%;
    --muted: 45 25% 28%;
    --muted-foreground: 60 10% 65%;
    --accent: 45 100% 50%;
    --accent-foreground: 35 22% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 43 20% 35%;
    --input: 43 20% 40%;
    --ring: 43 91% 38%;
  }
  .theme-protanopia {
    --primary: 220 83% 54%; /* Blue */
    --primary-foreground: 220 20% 98%;
    --accent: 210 100% 60%; /* Lighter blue */
    --accent-foreground: 220 20% 10%;
    --ring: 220 83% 54%;
  }
  .theme-deuteranopia {
    --primary: 260 83% 60%; /* Purple */
    --primary-foreground: 260 20% 98%;
    --accent: 250 100% 70%; /* Lighter Purple */
    --accent-foreground: 260 20% 10%;
    --ring: 260 83% 60%;
  }
  .theme-tritanopia {
    --primary: 0 84% 60%; /* Red */
    --primary-foreground: 0 20% 98%;
    --accent: 10 100% 65%; /* Light red/orange */
    --accent-foreground: 0 20% 10%;
    --ring: 0 84% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
